* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.1rem;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 50px;
  padding: 20px 50px;
  position: sticky;
  top: 0;
  z-index: 300;
  color: #fff;
  font-weight: 600;
}

nav a {
  color: #fff;
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 1.5rem;
}

.logo {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 2rem;
}

.links {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero {
  background-image: url("./assets/image1.jpg");
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-attachment: fixed;
  transition: all 5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.hero-text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-text {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  color: #fff;
  z-index: 300;
}

.main-text {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 3rem;
}

.sub-text {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-size: 1.5rem;
}

.hero-text .sub-text {
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.socialIcon {
  height: 25px;
  width: 25px;
}

.hero-text div:last-child {
  width: 50px;
  border-top: 3px solid #fff;
  margin-top: 30px;
}

.potraits {
  display: flex;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
}

.potrait-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #000000;
}

.potrait-img {
  background-image: url("./assets/artist.jpg");
  object-fit: cover;
  background-size: 50%;
  background-attachment: fixed;
  width: 50%;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/aboutbg.jpg");
  object-fit: cover;
  background-attachment: fixed;
  background-size: 80%;
  display: flex;
  align-items: end;
}

.about-text.sub-text {
  width: 40%;
  color: #fff;
  overflow: hidden;
  margin-bottom: -160px;
  transition: all 1s ease-in;
  padding: 30px;
}

.show-case{
    width: 100vw;
    height: 100vh;
}

.piece {
  object-fit: cover;
  background-size:cover;
  height: 100%;
  width: 100%;
}

.piece-1 {
  z-index: 300;
  background-image: url("https://images.pexels.com/photos/2236382/pexels-photo-2236382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  position: sticky;
  top: 0;
}

.piece-2 {
  z-index: 400;
  background-image: url("https://images.pexels.com/photos/1193743/pexels-photo-1193743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  position: sticky;
  top: 50px;
}

.piece-3 {
  z-index: 500;
  background-image: url("https://images.pexels.com/photos/3219951/pexels-photo-3219951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  position: sticky;
  top: 100px;
}

.piece-4 {
  z-index: 600;
  background-image: url("https://images.squarespace-cdn.com/content/v1/643cf51df65fbc6c99fd0be3/bb828c12-168b-4da7-8b29-0595b7662626/a.jpg");
  position: sticky;
  top: 150px;
}

.piece-5 {
  z-index: 700;
  background-image: url("https://images.pexels.com/photos/1070534/pexels-photo-1070534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  position: sticky;
  top: 200;
}
