* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 50px;
  padding: 20px 50px;
  position: fixed;
  z-index: 700;
  color: #fff;
  font-weight: 600;
  transition: all 0.2s ease-in;

}

nav div:last-child{
  width: 150px;
  height: 50px;
}

nav a {
  color: #fff;
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 1.5rem;
}

.logo {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 2rem;
}

.links {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.darkNav{
  background: #382d2d;
}

.hero {
  background-image: url("./assets/image1.jpg");
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-attachment: fixed;
  transition: all 5s ease-in;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.hero-text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .hero-text {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  color: #fff;
  z-index: 300;
}

.main-text {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 3rem;
}

.sub-text {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-size: 1.5rem;
}

.hero-text .sub-text {
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.socialIcon {
  height: 25px;
  width: 25px;
}

.hero-text div:last-child {
  width: 50px;
  border-top: 3px solid #fff;
  margin-top: 30px;
}

.potraits {
  display: flex;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
}

.potrait-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px 50px;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #000000;
}

.potrait-img {
  background-image: url("./assets/artist.jpg");
  object-fit: cover;
  background-size: 50%;
  background-attachment: fixed;
  width: 50%;
}

.about {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/aboutbg.jpg");
  object-fit: cover;
  background-attachment: fixed;
  background-size: 80%;
  display: flex;
  align-items: end;
}

.about-text.sub-text {
  width: 40%;
  color: #fff;
  overflow: hidden;
  margin-bottom: -300px;
  transition: all 1s ease-in;
  padding: 30px 50px;
}

.samples{
height: 100vh;
background:#461919;
width: 100%;
margin: auto;
position: relative;
display: grid;
place-items: center;
overflow: hidden;
}

.cards{
display: flex;
width: calc(250px * 18);
animation: scroll 60s linear infinite;
}

.cards:hover{
  animation-play-state: paused;
}

.card{
height: 500px;
width: 700px;
display: flex;
align-items: center;
padding: 15px;
perspective: 100px;
}

.card img{
  width: 100%;
  transition: transform 1s;
}

.card img:hover{
  transform: translateZ(20px);
}

.show-case{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
}

.piece {
  position: sticky;
  height: 760px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

.piece-1 {
  z-index: 300;
  background-image: url("https://images.pexels.com/photos/2236382/pexels-photo-2236382.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  top: 0;
}

.piece-2 {
  z-index: 400;
  background-image: url("https://images.pexels.com/photos/1193743/pexels-photo-1193743.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  top: 10px;
}

.piece-3 {
  z-index: 500;
  background-image: url("https://images.pexels.com/photos/3219951/pexels-photo-3219951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  top: 20px;
}

.piece-4 {
  z-index: 600;
  background-image: url("https://images.squarespace-cdn.com/content/v1/643cf51df65fbc6c99fd0be3/bb828c12-168b-4da7-8b29-0595b7662626/a.jpg");
  top: 30px;
}

.contact{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/6727550/pexels-photo-6727550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    object-fit: cover;
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 80%;
  width: 50%;
  padding: 30px 50px;
  background: rgba(77, 74, 74, 0.3);
  border-radius: 20px;
  z-index: 300;
}

.contact-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.contact-form form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.contact-form form input{
  border-radius: 10px;
  font-size: 15px;
  background: rgba(139, 133, 133, 0.3);
  height: 40px;
  padding: 10px 15px;
}

.contact-form form textarea{
  padding: 20px;
  font-size: 15px;
   border-radius: 10px;
  background: rgba(139, 133, 133, 0.3);
}

.contact::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  background: #461919;
  color: #fff;
  padding: 20px 50px;
}

.copyRight{
  font-size: 0.6rem;
}

.footerIcons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.footerIcon {
  height: 15px;
  width: 15px;
}

footer .logo{
  font-size: 1.5rem;
  font-weight: 400;
}


@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  }
}