*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Display", sans-serif;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    height: 50px;
    padding: 20px 50px;
    position: sticky;
    top: 0;
    z-index: 300;
    color: #fff;
    font-weight: 600;
}

nav a{
    color: #fff;
     font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 1.5rem;

}

.logo{
   font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 2rem;
}

.links{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero{
    background-image: url("./assets/image1.jpg");
    height: 100vh;
    width: 100%;
     object-fit: cover;
     background-attachment: fixed;
     transition: all 5.0s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.hero .slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.potraits{
    display: flex;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
}

.potrait-info{
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #000000;

}

.potrait-img{
    background-image: url("./assets/artist.jpg");
    object-fit:cover;
    background-size: 50%;
    background-attachment: fixed;
    width: 50%;
}
